:root{
    --cor-fundo: #2b2a2a;
    --cor-secundaria: #464545;
    --borda-objetos: 1.3rem;
    --tamanho-fonte: 0.9rem;
    --padding-links: 0.469rem;
    --fonte-primaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background: fixed;
    background-color: var(--cor-fundo);
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.item{
    padding: 1.25rem 0.6rem 0.6rem 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.item:hover{
    background-color: var(--cor-secundaria);
    padding: 1.25rem 0.6rem 0.6rem 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.principal{
    align-items: center;
    text-align: center;
    padding: 0rem 2.5rem 5rem 2.5rem;
}
.pesquisa{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
button{
    width: 2.813rem;
    height: 2.813rem;
    background-color: var(--cor-secundaria);
    border: none;
}
.copilot{
    border-start-end-radius: var(--borda-objetos);
    border-bottom-right-radius: var(--borda-objetos);
    cursor: pointer;
}
.lupa{
    border-start-start-radius: var(--borda-objetos);
    border-bottom-left-radius: var(--borda-objetos);
    cursor: pointer;
}
input{
    border: none;
    background-color: var(--cor-secundaria);
    width:  34.375rem;
    height: 2.813rem;
    font-size:  1rem;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding-inline-start:  0.375rem;
    outline: none;
}
::placeholder{
    color: white;
    text-overflow: ellipsis;
}
.conteiner{
    display: flex;
    width: 37.5rem;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;

}
.youtube{
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    padding-top: 0.625rem;
}
.con__box{
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--cor-secundaria);
    border-radius: 0.625rem;
    display: flex;
}
.con__img{
    width: 2.188rem;
    height: 2.188rem;
    margin: auto;

}
.con__title{
    text-align: center;
    margin: 0.125rem 0rem 0rem;
    color: white;
    font-size: 0.75rem;
    font-family:var(--fonte-primaria);
    font-stretch: condensed;
    font-style: normal;
    cursor: pointer;
}
footer{
    margin: 0;
    padding: 0;
}
.rodape{
    margin: 0rem;
    box-shadow: #1b1b1b 0rem 0rem 0.938rem;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 2.5rem;
    background-color: var(--cor-fundo);
    justify-content: right;
    padding-top: 0.5rem;
}
.conteiner__principal{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
p{
    color: white;
    font-family:var(--fonte-secundaria);
    font-size: var(--tamanho-fonte);
    cursor: pointer;
}
p:hover{
    color: gray;
    font-family:var(--fonte-secundaria);
    font-size: var(--tamanho-fonte);
    cursor: pointer;
}
.conteiner__secundario{
    color: white !important;
    font-family:var(--fonte-secundaria);
    font-size: var(--tamanho-fonte);
}
.decoracao{
    background-color: var(--cor-fundo);
    padding: var(--padding-links);
    border: 0.031rem solid white;
    border-radius: 1.25rem;
}
.decoracao:hover{
    background-color: var(--cor-fundo);
    padding: var(--padding-links);
    border: 0.031rem solid gray;
    border-radius: 1.25rem;
}
.decoracao2{
    padding: var(--padding-links);
    color:turquoise !important;
}
.decoracao2:hover{
    padding: var(--padding-links);
    color:turquoise !important;
}
.decoracao3{
    padding: var(--padding-links);
    color:white;
    border-left-color: var(--cor-secundaria);
}
.juntar{
    display: flex;
    background-color: var(--cor-secundaria);
    padding: 0rem;
    border: 0.0001px solid grey;
    border-radius: 0.625rem;
}
img{
    object-fit: cover;
}

@media (max-width: 1200px) {
    .principal{
        padding-top: 5rem;
    }
    .conteiner{
        padding-top: 4rem;
        width: 18.8rem;
    }
    .rodape{
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        margin: auto;
        height:auto;
    }
    .conteiner__principal{
        flex-wrap: wrap;
    }
    .conteiner__secundario{
        flex-wrap: wrap;
    }
}